<template>
    <div class="<%= kebabCaseName%>">
    </div>
</template>
<script>
    <%_ if (isMapToStore) { _%>
    import {mapState} from 'vuex';
    import MTYPES from "store/mutation-types.js";
    <%_ } _%>
    export default {
        name: '<%= pageName%>Page',
        components: {
            
        },
        data () {
            return {
                num:0,
                value:''
            }
        },
        watch: {
            value:{
                handler: 'toLoadData',
                immediate: false
            }
        },
        computed: {
            <%_ if (isMapToStore) { _%>
            ...mapState({
                isLogin:state=>{
                    return state.user.isLogin;
                }
            }),
            <%_ } _%>
            sum(){
                return this.num+5;
            }

        },
        created() {
            
        },
        mounted() {
            
        },
        methods: {
            toLogin(){

            },
            toLoadData(){
                
            }
        }
    }
</script>

<style lang="scss" scoped>
    .<%= kebabCaseName%> {
    }
</style>

<%_ if (isGlobalStyle) { _%>
<style lang="scss">
    .<%= kebabCaseName%> {
    }
</style>
<%_ } _%>

